body{
    background-color: bisque;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-style: bold ;
}

.link{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-style: ;
    color: brown;
}

img{
    height: auto;
    width: 200px;
}


